/**
 * default development theme for jQRangeSlider
 * Using fam fam icon set from Mark James, http://www.famfamfam.com/lab/icons/silk/ (Creative Commons Attribution 2.5 License)
 */

.ui-rangeSlider{
	height:22px;
}

.ui-rangeSlider .ui-rangeSlider-innerBar{
	height:16px;
	margin:3px 6px;
	background:#DDD;
}

.ui-rangeSlider .ui-rangeSlider-handle{
	width:6px;
	height:22px;
	background:#AAA;
	background:rgba(100,100,100, 0.3);
	cursor:col-resize;
}

.ui-rangeSlider .ui-rangeSlider-bar{
	margin: 1px 0;
	background: #FF9933;
	background:rgba(255,100,30, 0.7);
	height:20px;
	cursor:move;
	cursor:grab;
	cursor: -moz-grab;
}

.ui-rangeSlider.ui-rangeSlider-disabled .ui-rangeSlider-bar{
	background:rgba(255,100,30, 0.3);
}

.ui-rangeSlider .ui-rangeSlider-bar.ui-draggable-dragging{
	cursor:	-moz-grabbing;
	cursor:grabbing;
}

.ui-rangeSlider-arrow{
	height:16px;
	margin:2px 0;
	width:16px;
	background-repeat:no-repeat;
}

.ui-rangeSlider-arrow.ui-rangeSlider-leftArrow{
	background-image: url('../imgs/icons-classic/resultset_previous.png');
	background-position:center left;
}

.ui-rangeSlider-arrow.ui-rangeSlider-rightArrow{
	background-image: url('../imgs/icons-classic/resultset_next.png');
	background-position:center right;
}

.ui-rangeSlider-arrow-inner{
	display: none;
}

.ui-rangeSlider-container{
	height:22px;
}

.ui-rangeSlider-withArrows .ui-rangeSlider-container{
	margin:0 11px;
}

.ui-rangeSlider-noArrow .ui-rangeSlider-container{
	margin:0;
}

.ui-rangeSlider-label{
	margin:0 2px 2px;
	background-image:url('../imgs/icons-classic/label.png');
	background-position:bottom center;
	background-repeat:no-repeat;
  white-space: nowrap;
  bottom:20px;
  padding:3px 6px 7px;
  cursor:col-resize;
}

.ui-rangeSlider-label-inner{
	display:none;
}

/*
 * Edit slider
 */

input.ui-editRangeSlider-inputValue{
	width:3em;
	vertical-align: middle;
	text-align:center;
}















.hourslider {
	width: 150px;
	margin-top: -30px;
	width: 550px;
}

.ui-rangeSlider-disabled {
	cursor: pointer !important;
}

.form_field .hourslider {
	margin-top: -18px;
	/* Il valore che segue e' solo qui finche' ci sono tempi di inizio e fine per i test.. Poi diventa uno stile di .hourslider (regola precedente) */
	width: 550px;
}

.hourslider .ui-rangeSlider-label {
	width: auto;
}

.slider-rule-unit {
	border-left: 1px solid black;
	/*padding-left: 2px;
	margin-right: -3px;*/
	margin-left: -1px;
	text-align: center;
	font-size: 10px;
	height: 80%;
	overflow: visible;
}