.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
#ui-datepicker-div { font-size: 12px; } 

.ui-datepicker .ui-datepicker-header {
	background: #FF9933;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: #FF9933;
}

.ui-slider-horizontal .ui-slider-handle {
	background: #FF9933;
}

.ui-datepicker .ui-datepicker-buttonpane button {
	background: #FF9933;
	opacity: 1.0;
}